$font-stack: 'Trebuchet MS',
sans-serif;
$off-black: #333;
$light-gray: #eee;
$grey-accent: #888;
$accent-color: #6fc795;
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    width: 100vw;
}

body {
    font-family: $font-stack;
    background-color: $light-gray;
    color: #555;
    margin: 0;
    padding: 0;
    width: 100vw;
    letter-spacing: 1px;
    #application {
        max-width: 550px;
        width: 85vw;
        background-color: #fff;
        margin: 3rem auto;
        padding: 2rem;
        border-radius: 12px;
        h1,
        h2 {
            letter-spacing: 2px;
            font-weight: normal;
            margin-top: .25rem;
        }
        button {
            border: none;
            padding: .75rem 2rem;
            border-radius: 4px;
            background-color: $accent-color;
            font-weight: bold;
            color: #333;
            &:hover {
                opacity: .8;
                transition: opacity 200ms ease;
            }
        }
        input,
        textarea,
        select {
            font-family: $font-stack;
            width: 100%;
            padding: .5rem;
            border: none;
            border-radius: 4px;
            background-color: $light-gray;
            border-bottom: #aaa 2px solid;
            color: $off-black;
            &.valid {
                border-bottom: $accent-color 2px solid;
            }
        }
        .formGroup {
            label {
                &[for*="Reference"] {
                    display: inline-block;
                    &.checkBoxTopLabel {
                        display: block;
                        margin-bottom: 0px;
                        &::after {
                            content: ':';
                        }
                    }
                }
                display: block;
                margin: .75rem 0 .15rem 0;
                .required {
                    color: red;
                    padding: 0px 2px;
                }
            }
            input {
                &[name*="Reference"] {
                    margin-left: .75rem;
                    display: inline-block;
                    width: 12px;
                    height: fit-content;
                }
                display: inline-block;
            }
            p {
                margin-top: 0;
                font-size: .85rem;
                color: $grey-accent;
            }
            option {
                color: $off-black;
                &:disabled {
                    color: $grey-accent;
                }
            }
        }
        .buttonSpace {
            margin-top: 1rem;
            height: 2.5rem;
        }
        .submissionModal {
            position: absolute;
            background-color: #fff;
            padding: 2rem;
            top: 10vw;
            left: calc(50vw - 175px);
            width: 350px;
            border-radius: 12px;
            box-shadow: 2px 2px 22px rgba(0, 0, 0, .4);
            div {
                width: 100%;
            }
            span {
                text-wrap: wrap;
            }
            button {
                margin-top: 1rem;
            }
        }
    }
}